<div class="navbar-wagon">
  <!-- Logo -->
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <p class="navbar-wagon-link">Wikinimous</p>
    <p class="navbar-wagon-link"><%= link_to "New article", new_article_path%></p>
    <!-- Profile picture with dropdown list -->
  </div>

  <!-- Dropdown appearing on mobile only -->
</div>
